body {
    margin: 0;
    padding: 20px;
    overflow: hidden; /* Hide scrollbars */
}

canvas {
    display: block;
    background-color: grey; /* Change the background color to your preference */
    margin: auto;
    /* Set the dimensions of the canvas as per your requirement */
    width: 60vw;
    height: 80vh;
}

.game-container {
    display: flex;
    align-items: flex-start;
}

/* Use prefers-color-scheme to set background color based on user's system theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a; /* Dark background color */
    }
    label, p {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f0f0f0; /* Light background color */
    }
    label, p {
        color: black;
    }
}

/* Style for the settings */
.settings {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2184b4;
}

button:active {
    background-color: #0e5584;
}

.slider-container {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

/* Style for the image placeholders */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-placeholder {
    width: 75px;
    height: 75px;
    background-color: #dcdcdc; /* Light grey color for the placeholders */
    margin: 10px 0;
    /* Ensure images fit inside the placeholders without overflowing */
    overflow: hidden;
    /* Center images vertically within their container */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for active image placeholder */
.image-placeholder.active {
    border: 2px solid #3498db; /* Add a border when the image is active */
}

/* Style for non-active image placeholders */
.image-placeholder:not(.active) {
    filter: grayscale(100%);
    cursor: pointer;
}

/* Disable pointer events for non-active image placeholders */
.image-placeholder:not(.active) img {
    pointer-events: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}