body {
    margin: 0;
    padding: 20px;
    overflow: hidden; /* Hide scrollbars */
}

canvas {
    display: block;
    background-color: grey; /* Change the background color to your preference */
    margin: auto;
    height: 80vh; /* Set the height of the canvas, leave the width untouched to let it scale properly */
    object-fit: contain; /* Maintain aspect ratio */
}

.game-container {
    display: flex;
}

/* --------------- Style for the title  --------------- */
.game-title {
    text-align: center;
    margin-bottom: 20px;
}

.game-title-text {
    font-size: 24px;
    font-weight: bold;
}

/* --------------- Style for the title  --------------- */
.game-and-sidebar {
    display: flex;
    flex-direction: row;
}

.sidebar-left {
    flex: 1; /* keeps sidebar from disappearing when empty */
}

.sidebar-right {
    flex: 1; /* mirrors size of other sidebar for uniformity */
    display: flex;
    flex-direction: row-reverse;
}

/* --------------- Use prefers-color-scheme to set background color based on user's system theme --------------- */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a; /* Dark background color */
    }
    label, p {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f0f0f0; /* Light background color */
    }
    label, p {
        color: black;
    }
}

/* --------------- Style for the settings --------------- */
.settings {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2184b4;
}

button:active {
    background-color: #0e5584;
}

.slider-container {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

/* --------------- Style for the image placeholders --------------- */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-placeholder {
    width: 75px;
    height: 75px;
    /* background-color: #dcdcdc; Light grey color for the placeholders */
    margin: 10px 0;
    /* Ensure images fit inside the placeholders without overflowing */
    overflow: hidden;
    /* Center images vertically within their container */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent; /* Add a transparent border so elements don't move when active */
    border-radius: 6px;
}

/* Style for active image placeholder */
.image-placeholder.active {
    border: 2px solid #3498db; /* Make border opaque when active */
}

/* Style for non-active image placeholders */
.image-placeholder:not(.active) {
    filter: grayscale(100%);
    cursor: pointer;
}

/* Disable pointer events for non-active image placeholders */
.image-placeholder:not(.active) img {
    pointer-events: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}